@charset "CP850";
/*****************************************************************************************
* legionen.nu
*
* Är nollan eller faddern nyfiken? Ojoj!
*/
#content {
  max-width: 1280px;
  padding: 0 20px;
  margin: 20px auto; }

#container {
  padding: 20px 0; }
  #container.tinysite {
    width: 500px;
    margin: 40px auto; }

.opacity-70 {
  opacity: 0.7;
  -moz-opacity: 0.7;
  filter: alpha(opacity=70); }

.thumbnail.checked {
  background: #ECECEC;
  border-color: #B9B9B9; }

#imagesbatchedit .thumbnails {
  margin-left: 0; }
#imagesbatchedit .row-fluid {
  margin-bottom: 20px; }

@media (max-width: 767px) {
  #content {
    padding: 0 !important; } }
