/*****************************************************************************************
 * legionen.nu
 *
 * Är nollan eller faddern nyfiken? Ojoj!
 */


/*
	RESET
*/
@import "reset";
@import "mixins";

// VARIABLER
$darkred: #800000;

/*
	Typsnitt
*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

body {
	background: url('/web/img/teaser.jpg') #14000b;
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	width: 100%;
	text-transform: uppercase;
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);

	a {
		text-decoration: none;
		color: darken(#fff, 10%);
		border-bottom: 1px dotted #fff;

		&:hover {
			color: #fff;
			border-style: solid;
			text-decoration: none;
		}
	}

	h1 {
		font-size: 500%;
		line-height: 1;
	}
	h2 {
		font-size: 200%;
	}
	h3 {
		font-size: 100%;
		text-transform: uppercase;
	}
	p {
		margin: 0 0 20px;
		line-height: 1.5;
	}
	#container {
		width: 60%;
		padding: 0 0 0 20%;
		margin: 10% auto;
		text-align: center;

		iframe {
			width: 600px;
			height: 337px;
		}
	}
}

/***************************************
 OM NÅGON HAR EN LITEN KLEN SKÄRM
 ***************************************/
@media only screen and (max-width: 480px) {
	#container {
		width: 80% !important;
		margin: 200px auto !important;
		padding: 0 !important;

		h1 {
			font-size: 300%
		}

		iframe {
			width: 100% !important;
			height: 200px !important;
		}
	}
}
