@charset "utf-8";
/*****************************************************************************************
 * legionen.nu
 *
 * Är nollan eller faddern nyfiken? Ojoj!
 */

// importera mixins
@import "mixins";

// VARIABLER
$darkred: #800000;
$boxbgcolor: darken(#fff, 10%);

/*
	Typsnitt
*/
@font-face {
	font-family: 'OpenSansRegular';
	font-style: normal;
	font-weight: 400;
    src: url('/web/font/opensans-regular.eot');
    src: url('/web/font/opensans-regular.eot') format('embedded-opentype'),
         url('/web/font/opensans-regular.woff') format('woff'),
         url('/web/font/opensans-regular.ttf') format('truetype'),
         url('/web/font/opensans-regular.svg#OpenSansRegular') format('svg');
}
/*
font-fix
om du någonsin fastnar med fula typsnitt i chrome på windows, läs detta (och skit i google
web fonts):
http://www.adtrak.co.uk/blog/font-face-chrome-rendering/
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'OpenSans';
		src: url('/web/font/OpenSans.svg#OpenSans') format('svg') !important;
	}
}

@font-face {
	font-family: 'PrinceofPersia';
	font-style: normal;
	font-weight: 400;
	src: local('PrinceofPersia'), local('Prince of Persia'), url(/web/font/princeofpersia.ttf) format('truetype');
}
@font-face {
	font-family: 'FaunaOne';
	font-style: normal;
	font-weight: normal;
	src: local('Fauna One'), local('FaunaOne-Regular');
	src: url('/webfont/FaunaOne-Regular.eot');
	src: url('/web/font/FaunaOne-Regular.svg') format('svg'),
		 url('/web/font/FaunaOne-Regular.woff') format('woff'),
		 url('/web/font/FaunaOne-Regular.ttf') format('truetype');
}

html, body {
	height: 100%;
	margin: 0;
}

/******************
 FINT SKARE VA
 *****************/
body {
	@include opensans;

	#background {
		width: 100%; height: 180%;
		position: fixed;
		top: 0; left: 0;
		@include transition(all, 3s);

		#thesun {
			position: absolute;
			background: url(/web/img/sun.png);
			width: 100px; height: 99px;
			margin: -50px 0 0 -50px;

		}
	}
	&.sunset #background {
		@include radial-grad(#972600);
	}
	&.night #background {
		@include radial-grad(#080d11);
	}
	&.day #background {
		@include radial-grad(#2661a5, 40%);
	}
	#desert {
		height: 200px;
		width: 100%;
		background-image: url(/web/img/desert.png);
		background-repeat: repeat-x;
		background-position: bottom;
		margin: 30px 0 0;
	}
	&.night #desert {
		@include opac(0.7);
	}
}


/******************
 TYDLIGT SKARE VA
 *****************/
#container {
	height: 100%;
	position: relative;

	h1, h2, h3, h4, h5, .title {
		font-family: 'FaunaOne', 'Fauna One', serif;
		-webkit-font-smoothing: subpixel-antialiased;
		font-weight: normal;
		-webkit-text-stroke-width: 0.6px;
	}
	p {
		font-size: 100%;
		@include opensans();
	}
	.wrapper {
		width: 60%;
		margin: 0 auto;
	}
	.maincontent {
		background: $boxbgcolor;
		margin: 0 0 20px;
		padding: 10px;
		box-shadow: rgba(0,0,0,0.2) 0 0 20px;
		@include roundcorners;

		time::after{
			clear: both;
		}
	}
	#footer {
		p {
			margin: 0;
		}
		a {
			color: lighten($boxbgcolor, 10%);
		}
		.maincontent {
			font-size: 90%;
			color: $boxbgcolor;
			background: darken($boxbgcolor, 66%);
			padding: 10px;
			@include roundcorners;
		}
	}
	#adswrapper {
		text-align: center;

		img {
			margin: 0 0 10px;
		}
	}
}
/*****************
 INLÄGG OCH SIDOR SKA VARA FINA
 ****************/
.post {
	img {
		&.float-left {
			float: left;
			margin: 0 10px 10px 0;
		}
		&.float-right {
			float: right;
			margin: 0 0 10px 10px;
		}
	}
	h1, h2, h3, h4, h5, h6 {
		clear: both;
	}
}
.startimg {
	img {
		float: left;
		width: 50%;
		margin: 0;
		padding: 0;
	}
}

/*****************
 MISC
 ****************/
.clearfix {
	@include clearfix;
}
.uppercase {
	text-transform: uppercase;
}
.nomargin {
	margin: 0;
}
.center {
	text-align: center;
}
/*****************
 Masthead
 ****************/
#masthead {
	height: 100px;

	a {
		text-decoration: none;
		@include transition;

		&:hover {
			text-decoration: none;
		}
	}

	h1.pagetitle a{
		font: 200% 'PrinceofPersia';
		color: #fff;
		letter-spacing: 0.03em;
		float: left;
		text-shadow: #000 0 0 10px;

		&:hover {
			text-decoration: none;
			text-shadow: #000 0 0 20px;
		}
	}

	ul.mainmenu {
		float: right;
		list-style: none;
		margin: 70px 0 0;

		li {
			display: block;
			float: right;
			text-transform: uppercase;
			padding: 7px;
			margin: 0 10px;
			background: $boxbgcolor;
			box-shadow: rgba(0,0,0,0.2) 0 0 20px;

			@include roundcorners(5px);
		}
	}
}


/***************************************
 SO FLUFFYYYYYY! http://youtu.be/SNLJDR-XbVY?t=2s
 ***************************************/
#clouds {
	position: relative;
	background-repeat: no-repeat;
	z-index: 21;
    width: 100%;
    height: 250px;
    top: 0;
    display: none;

    &.animate {
	    background-image: none;
	    overflow: hidden;
	    display: block;
	}
	img {
		position: absolute;
	}
}

/***************************************
 OM NÅGON HAR EN LITEN KLEN SKÄRM
 ***************************************/
@media only screen and (max-width: 480px) {
	h1.pagetitle {
		font-size: 190% !important;
	}
}
@media (min-width: 1280px){
	.wrapper {
		width: 1200px !important
	}
}

@media (min-width: 979px) and (max-width: 1279px) {
	.wrapper {
		width: 80% !important;
	}
}
@media (max-width: 979px) {
	body {
		padding: 0 !important;
	}
	.wrapper {
		width: 90% !important;
	}
	#clouds {
		height: 200px !important;
	}
	ul.mainmenu {
		float: left !important;
		margin: 10px 0 !important;
		clear: left;

		li {
			float: left !important;
			margin: 3px !important;
		}
	}
}
