@charset "utf-8";
/*****************************************************************************************
 * legionen.nu
 *
 * Är nollan eller faddern nyfiken? Ojoj!
 */

/*
	RESET
*/
@import "mixins";

// VARIABLER
$darkred: #800000;

/*
	Typsnitt
*/
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
	font-family: 'PrinceofPersia';
	font-style: normal;
	font-weight: 400;
	src: local('PrinceofPersia'), local('Prince of Persia'), url(/web/fonts/princeofpersia.ttf) format('truetype');
}

html, body, #sun {
	height: 100%;
	margin: 0;
}

body {
	@include opensans;

	#sun {
		display: none;
		width: 100%;
	}

	#background {
		width: 100%; height: 180%;
		position: fixed; top: 0; left: 0;
	}
	&.sunset #background {
		@include radial-grad(#972600);
	}
	&.night #background {
		@include radial-grad(#080d11);
	}
	&.day #background {
		@include radial-grad(#2661a5, 40%);
	}
}

#container {
	height: 100%;
	position: relative;

	#footer {
		position: absolute;
		bottom: 0;
		height: 200px;
		width: 100%;
		background-image: url(/web/img/desert.png);
		background-repeat: repeat-x;
		background-position: bottom;
	}

	.wrapper {
		width: 60%;
		margin: 0 auto;
	}
}


/*****************
 MISC
 ****************/
.clearfix {
	@include clearfix;
}

/*****************
 Masthead
 ****************/
#masthead {
	height: 100px;

	h1.pagetitle {
		font: 400% 'PrinceofPersia';
		color: #8B0000;
		letter-spacing: 0.03em;
	}
}


/***************************************
 SO FLUFFYYYYYYYYY! http://youtu.be/SNLJDR-XbVY?t=2s
 ***************************************/
#clouds {
	position: relative;
	background-repeat: no-repeat;
	z-index: 21;
    width: 100%;
    height: 300px;
    top: 0;
    display: none;

    &.animate {
	    background-image: none;
	    overflow: hidden;
	    display: block;
	}
	img {
		position: absolute;
	}
}

/***************************************
 OM NÅGON HAR EN LITEN KLEN SKÄRM
 ***************************************/
@media only screen and (max-width: 480px) {

}
@media (min-width: 979px) and (max-width: 1200px) {
	.wrapper {
		width: 80% !important;
	}
}
@media (max-width: 979px) {
	.wrapper {
		width: 90% !important;
	}
}
