@charset "utf-8";
/*****************************************************************************************
 * legionen.nu
 *
 * Är nollan eller faddern nyfiken? Ojoj!
 */
/*
	Typsnitt
*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff"); }

@font-face {
  font-family: 'PrinceofPersia';
  font-style: normal;
  font-weight: 400;
  src: local("PrinceofPersia"), local("Prince of Persia"), url(/web/font/princeofpersia.ttf) format("truetype"); }

@font-face {
  font-family: 'Fauna One';
  font-style: normal;
  font-weight: 400;
  src: local("Fauna One"), local("FaunaOne-Regular"), url(http://themes.googleusercontent.com/static/fonts/faunaone/v1/cSd7NBXNFQWK4oX1706dY7O3LdcAZYWl9Si6vvxL-qU.woff) format("woff"); }

html, body, #sun {
  height: 100%;
  margin: 0; }

body {
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: "Open Sans", sans-serif; }
  body #sun {
    display: none;
    width: 100%; }
  body #background {
    width: 100%;
    height: 180%;
    position: fixed;
    top: 0;
    left: 0; }
  body.sunset #background {
    /* fallback */
    background-color: #972600;
    /* Can't specify a percentage size? Laaaaaame. */
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#972600), to(#fd4000));
    background: -webkit-radial-gradient(50% 50%, circle cover, #fd4000 0%, #972600 100%);
    background: -moz-radial-gradient(center, circle cover, #fd4000 0%, #972600 100%);
    background: -ms-radial-gradient(center, circle cover, #fd4000 0%, #972600 100%);
    background: radial-gradient(center, circle cover, #fd4000 0%, #972600 100%); }
  body.night #background {
    /* fallback */
    background-color: #080d11;
    /* Can't specify a percentage size? Laaaaaame. */
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#080d11), to(#294256));
    background: -webkit-radial-gradient(50% 50%, circle cover, #294256 0%, #080d11 100%);
    background: -moz-radial-gradient(center, circle cover, #294256 0%, #080d11 100%);
    background: -ms-radial-gradient(center, circle cover, #294256 0%, #080d11 100%);
    background: radial-gradient(center, circle cover, #294256 0%, #080d11 100%); }
  body.day #background {
    /* fallback */
    background-color: #2661a5;
    /* Can't specify a percentage size? Laaaaaame. */
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#2661a5), to(#abc9ec));
    background: -webkit-radial-gradient(50% 50%, circle cover, #abc9ec 0%, #2661a5 100%);
    background: -moz-radial-gradient(center, circle cover, #abc9ec 0%, #2661a5 100%);
    background: -ms-radial-gradient(center, circle cover, #abc9ec 0%, #2661a5 100%);
    background: radial-gradient(center, circle cover, #abc9ec 0%, #2661a5 100%); }

#container {
  height: 100%;
  position: relative; }
  #container h1, #container h2, #container h3, #container h4, #container h5 {
    font-family: 'Fauna One', serif;
    -webkit-font-smoothing: subpixel-antialiased; }
  #container p {
    font-size: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: "Open Sans", sans-serif; }
  #container .wrapper {
    width: 60%;
    margin: 0 auto; }
  #container #footer {
    height: 200px;
    width: 100%;
    background-image: url(/web/img/desert.png);
    background-repeat: repeat-x;
    background-position: bottom;
    margin: 30px 0 0; }
  #container .maincontent {
    background: #e6e6e6;
    margin: 0 0 20px;
    padding: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; }

/*****************
 MISC
 ****************/
.clearfix {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/*****************
 Masthead
 ****************/
#masthead {
  height: 100px; }
  #masthead h1.pagetitle {
    font: 400% 'PrinceofPersia';
    color: #8B0000;
    letter-spacing: 0.03em;
    float: left; }
  #masthead ul.mainmenu {
    float: right;
    list-style: none;
    margin: 70px 0 0; }
    #masthead ul.mainmenu li {
      display: block;
      float: right;
      text-transform: uppercase;
      padding: 7px;
      margin: 0 10px;
      background: #e6e6e6;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px; }

/***************************************
 SO FLUFFYYYYYY! http://youtu.be/SNLJDR-XbVY?t=2s
 ***************************************/
#clouds {
  position: relative;
  background-repeat: no-repeat;
  z-index: 21;
  width: 100%;
  height: 250px;
  top: 0;
  display: none; }
  #clouds.animate {
    background-image: none;
    overflow: hidden;
    display: block; }
  #clouds img {
    position: absolute; }

/***************************************
 OM NÅGON HAR EN LITEN KLEN SKÄRM
 ***************************************/
@media (min-width: 979px) and (max-width: 1280px) {
  .wrapper {
    width: 80% !important; } }
@media (max-width: 979px) {
  .wrapper {
    width: 90% !important; }

  #clouds {
    height: 200px !important; } }
